
.header{
    margin: 10.5rem 0 4rem 0;
    display: grid;
}

.header-red-bar{
    background: var(--primary_color);

    position: fixed ;
    width: 100%;
    border-bottom: 2px solid black;
    top: 0;
    z-index: 2;
}

.header-ctn {
    display: flex;
    
    justify-content: space-between;
    
    margin: 0 9rem;
    
}

.banner{
    background: url(../../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 45rem;
    text-align: center;
    position: relative;
}

.ctn-bnr{
   padding-top: 4rem;
}

.bnr-title{
    padding-top: 5rem;
    color: var(--white);
    font-family: var(--font_titles);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    
}

.bnr-text{
    color: var(--white);
    font-family: var(--font_marcellus);
    font-size: var(--font-size-md);
    font-weight: 400;
    margin: 2.5rem 0;
    
}

.bnr-button{
    display: inline-block;
    color: var(--black);
    text-align: center;
    padding: 1rem 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-family: var(--font_roboto);
    font-size: var(--font-size-nm);
    font-weight: 800;
}

.bnr-fund{
    background: var(--secondary_color);
    border-radius: 2rem;
}

.bnr-fund:hover{
    background: rgb(214, 156, 40);
    transition: 550ms;
    transform: scale(.980);
}

.bnr-fund:active{
    cursor: wait;
    transition: 10000ms;
}




/* Pagina de Categorias  */

.banner-platoFuerte{
    background: url(../../img/banner-platoFuerte.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 28rem;
    position: relative;
    margin-bottom: 0;
}

.mask-c{
    position: absolute;
    background-color: rgb(0 0 0 / 0.64);
    width: 92.38%;
    height: 100%;
}

.align{
    display: grid;
    align-content: center; 
    padding-left: 9rem; 
}

.align-bnr-text{
    max-width: 30rem;
}

/* Pagina de platillos */

.banner-platillo{
    background: url(../../img/banner-platillo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    max-width: 100%;
    height: 34rem;
    position: relative;
    margin-bottom: 0; 
}




