.specifications {
    background: var(--primary_color);
    padding: 3rem 8rem;
    display: flex;
    justify-content: space-around;
}

.specifications-adjust {
    display: flex;
    column-gap: 1vw;
    align-items: center;
    font-family: var(--font_marcellus);
    font-size: var(--font-size-sm);
    font-weight: lighter;
}

.specifications-text {
    font-family: var(--font_roboto);
    font-size: var(--font-size-xl);
    font-weight: bold;
    color: var(--white);
    margin: 0;
}

.select {
    background: var(--primary_color);
    border: 0.063rem solid var(--white);
    border-radius: 2rem;
    color: var(--white);
    font-family: var(--font_roboto);
    font-size: var(--font-size-md);
    padding: .5rem 1.5rem;
    outline: none;
    cursor: pointer;
    margin: 0;

}

.select option {
    background-color: var(--white);
    color: black;
}


/* detalles */


.accompaniment {
    margin: 4rem 9rem;
    border-style: solid;
    border-radius: 2rem;
    padding: 1rem 2rem;
}

.accompaniment-align {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.accompaniment-text {
    font-family: var(--font_roboto);
    font-size: var(--font-size-lg);
    font-weight: bold;
    display: flex;
    align-items: center;

}

.accompaniment-btn {
    color: var(--primary_color);
    text-align: center;
    display: inline-block;

    text-transform: uppercase;
    font-family: var(--font_roboto);
    font-size: var(--font-size-nm);
    font-weight: 800;

    cursor: pointer;
}

.op {
    color: black;
}

.bg-button {
    background: var(--primary_color);
    border-radius: 2rem;
    padding: .8rem 5rem;
    border-style: none;
    font-family: var(--font_roboto);
    color: var(--white);
}


.bg-button:hover {
    transform: scale(.940);
    transition: 600ms;
    background: rgb(105, 1, 10);
}

.low-bar {
    height: 0.1875rem;
    background: var(--primary_color);
}

.quantity {
    display: block;
    background: var(--primary_color);
    font-family: var(--font_roboto);
    font-size: var(--font-size-lg);
    border-style: none;
    border-radius: 2rem;
    width: 11.5rem;
    padding: .8rem 1rem;
    color: var(--white);
    outline: none;
}

.notes-add {
    font-family: var(--font_roboto);
    font-size: var(--font-size-xl);
    font-weight: bold;
    text-align: center;
}

.text-area {
    width: 100%;
    margin-top: 1rem;
    border-style: none;
    outline: none;
    font-family: var(--font_roboto);
    font-size: var(--font-size-md);
}